#version: '3.8'
#services:
#  redis:
#    image: redis:alpine
#    ports:
#      - "6379:6379"

version: "3.8"

services:
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    restart: unless-stopped

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "5540:5540"
    volumes:
      - redisinsight_data:/data
    restart: unless-stopped
    depends_on:
      - redis

volumes:
  redis_data:
  redisinsight_data:
